.whole{
    display: flex;
    /* margin: 13% auto auto auto; */
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90%;
    background-color: rgb(243, 240, 240);
}

.discount {
    width: 30%;
    /* margin: 15% auto; */
    background-color: white;
    margin: 15% auto auto auto;
    height: 25vw;
}

.pay-div {
    display: flex;
    margin: 10% auto;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    background-color: white;
    height: 40vw;

}

.final-pay-form{
    display: flex;
    margin: 15% auto;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    background-color: white;
    height: 70vw;
}

.shipping-address,
.card-form{
    display: flex;
    margin: 5% auto;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
}

.f{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.c{
    margin: 5% 0px;
    display: flex;
    /* margin: 15% auto; */
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
}

.input-form{
    width: 60%;
    height: 2vw;
    border: 1px solid rgb(204, 202, 202);
    border-radius: 3px;
    margin: .5vw 0px;
}

.input-card{
    margin: 5% 0px;
    width: 100%;
    height: 2vw;
    border: 1px solid rgb(204, 202, 202);
    border-radius: 3px;
}

.date-select{
    width: 100%;
}

.select-state{
    width: 61%;
    margin: .5vw 0px;
}

.select {
    margin: 6% 4% 6% 0%;
    width: 50%;
    height: 2vw;
}

label{
    font-weight: bolder;
    font-size: 20px;
}

.button{  
    width: 30%;
} 

.button1,
.button2
 {
    background-color: rgb(146, 23, 23);
    width: 100%;
    margin-top: 3%;
    margin-left: 200%;
    height: 2vw;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.button3{
    background-color: rgb(146, 23, 23);
    width: 65%;
    margin-top: 3%;
    height: 3vw;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.h4{
    color: white;
}

.date-select{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.confirm{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(209, 207, 207);
    margin-top: -15vw;
}

.edit-button{
    width: 30%;
    height: 2vw;
    border-radius: 3px;
    border: 1px solid gray;
    background-color: rgb(240, 239, 239);
}

.shipping-info{
    width: 100%;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    align-items: flex-start;
    margin: -28vw 0px -28vw 0px;
}

.input-card{
    height: 2.5vw;
}

.payment{
    border-top: 2px solid rgb(187, 182, 182);
    border-bottom: 1px solid rgb(209, 207, 207);
    width: 100%;
    margin-bottom: -4vw;
}

.payment-h2{
    margin-top: 2.5vw;
}

.div-info{
    margin: .5vw 0px;
}

:disabled {
    cursor: not-allowed;
}

.form-card{
    margin-top: -25vw;
}

.cardNum {
    margin: 100px;
    height: 6vw;
}

.checkout-div{
    /* margin: 15% auto; */
    height: 20vw;

}
/* .fake:hover:after {
    content: "......."
} */