
.pay-div{
    display: flex;
    margin: 15% auto;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

.shipping-address{
    display: flex;
    /* margin: 15% auto; */
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.f{
    margin: 3% 0px;
    display: flex;
    /* margin: 15% auto; */
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.input-form{
    width: 40%;
    height: 1.5vw;
    border: 1px solid rgb(204, 202, 202);
    border-radius: 3px;
}

.select {
    width: 40%;
}

label{
    font-weight: bold;
}

.button{
    
    width: 40%;
}
.button1,
.button2 {
    background-color: red;
    width: 100%;
    margin-top: 3%;
    margin-left: -75%;
    height: 1.5vw;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.h4{
    color: white;
}