/* .cart-div{
    padding-top: 17%;
    padding-bottom: 17%;
    padding-left: 20%;
    height: 700px;
    width: 60%;
}

.cart-img{
    height: 100%;
    width: 100%;
    border: 1px solid gray;
    border-radius: 9px;
    box-shadow: -3px 5px 8px rgba(149, 147, 147, 0.692);
    
}

.cart-sen{
    font-family: 'Emilys Candy', cursive;
    font-weight: bold;
    font-size: 40px;
    color: rgb(28, 87, 97);
    padding-left: 29%;
} */
.item-img2{
    text-decoration: none;
    color: black;
}
.nav-bar{
    margin-top: 0px;
}

.cart-div-whole{

    background-color: rgb(241, 237, 237);
    width: 100%;
}

.cart-div{
    width: 80%;
    display: flex;
    margin: auto;
    /* justify-content: center; */
    justify-content: space-around;
    /* flex-direction: column; */
    align-items: flex-start;
    padding-top: 12%;
}

.cart-items-ul{
    width: 50%; 
    /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: column; */
    /* align-items: center;  */ 
    /* background-color: white; */
    /* border-radius: 3px; */

}
.checkout{
    width: 40%;
    background-color: white;
    height: 900px;
    border-radius: 3px;
}

.one-item-cart-li{
    background-color: white;
    /* width: 80%; */
    margin: 0px 0px 40px 0px;
    border-radius: 10px;
}

.item-select-price-img{
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
    align-items: flex-start;
    /* width: 50%; */
}
.item-img{
    width: 30%;
    
}
.cart-item-img {
    width: 50%;
    /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: column; */
    /* align-items: flex-start; */
}

.item-select-price{
    /* display: flex; */
    /* justify-content: space-between; */
    /* flex-direction: column; */
    /* align-items: flex-start; */
    width: 60%;
}

.footer{
    margin-bottom: 0px;
}