
.item-img2{
    text-decoration: none;
    color: black;
}
.nav-bar{
    margin-top: 0px;
}

.cart-div-whole{

    background-color: rgb(241, 237, 237);
    width: 100%;
    /* height: 100%; */
    /* justify-content: space-around;
    flex-direction: column;
    align-items: center; */
}

.cart-div{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    /* justify-content: center; */
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 12%;
    /* height: 30%; */
}
/* .radio-options{
    height: 10vw;
} */
.cart-items-ul{
    width: 50%; 
    /* flex-wrap: wrap; */
    /* height: 30vw; */
    /* height: 30%; */
    /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: column; */
    /* align-items: center;  */ 
    /* background-color: white; */
    /* border-radius: 3px; */

}
.checkout{
    width: 40%;
    margin-bottom: 4vw;
    margin-top: 3vw;
    background-color: white;
    /* height: 90%; */
    height: 25vw;
    border-radius: 10px;
}

.one-item-cart-li{
    /* flex-wrap: wrap; */

    /* position: sticky; */
    background-color: white;
    /* color: rgb(148, 4, 4); */
    /* width: 80%; */
    height: 27vw;
    margin: -2% 0px 40px 0px;
    border-radius: 10px;
    /* overflow-y: scroll;
    overflow-x: scroll; */
    flex-wrap: wrap;
    /* height: 50%; */
}

.item-select-price-img{
    /* flex-wrap: wrap; */
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
    align-items: flex-start;
    height: 10vw;
    /* height: 20%; */
    /* margin-top: 10px; */
    /* width: 50%; */
}
.item-img{
    /* flex-wrap: wrap; */
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
    align-items: center;
    width: 20%;
    height: 10vw;
    /* padding: 3% 0px; */

    
}
.cart-item-img {
    width: 100%;
    height: 85%;
    /* flex-wrap: wrap; */

    /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: column; */
    /* align-items: flex-start; */
}

.item-select-price{
    /* position: sticky; */
    /* flex-wrap: wrap; */

    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
    align-items: center;
    margin-top: 2%;
    width: 60%;
}

.cart-buttons{
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.radio{
    width:100%;
    height: 13vw;
    margin: auto;
}

.save-for-later,
.delete-item{
    background-color: rgb(146, 23, 23);
    color: rgb(233, 227, 227);
    cursor: pointer;
    font-weight: bolder;
    border-radius: 3px; 
    width: 40%;
    height: 2vw;
}
/* .footer{
    margin-bottom: 0px;
} */



/* Checkout page */
.checkout-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    padding-top: 5%;
    /* margin-bottom: 50vw; */
    /* overflow-y: scroll;
    overflow-x: scroll; */
    /* flex-wrap: wrap; */
}

.total,
.shipping-div,
.tax-div{
    display: flex;
    /* flex-direction: column; */
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 2% 0px;
}

.shipping-div{
        border-bottom: 1px solid rgb(223, 219, 219);
}

.tax-div{
    font-weight: bold;
}

.proceed,
.continue{
    padding: 2% 0px;
    margin: 2% auto;
    display: flex;
    background-color: rgb(146, 23, 23);
    color: rgb(233, 227, 227);
    cursor: pointer;
    font-weight: bolder;
    border-radius: 3px; 
    width: 70%;
    text-decoration: none;
    /* align-self: center; */
    justify-content: center;
}











/* .cart-div{
    padding-top: 17%;
    padding-bottom: 17%;
    padding-left: 20%;
    height: 700px;
    width: 60%;
}

.cart-img{
    height: 100%;
    width: 100%;
    border: 1px solid gray;
    border-radius: 9px;
    box-shadow: -3px 5px 8px rgba(149, 147, 147, 0.692);
    
}

.cart-sen{
    font-family: 'Emilys Candy', cursive;
    font-weight: bold;
    font-size: 40px;
    color: rgb(28, 87, 97);
    padding-left: 29%;
} */
