@media screen and (max-width: 1830px ){
    .cart-div{
        padding-top: 16vw;
    }
}

@media screen and (min-width: 1830px){
    .cart-div{ 
        padding-top: 10vw;
    }
}
.item-img2{
    text-decoration: none;
    color: black;
}
.nav-bar{
    margin-top: 0px;
}

.cart-div-whole{
    background-color: rgb(241, 237, 237);
    width: 100%;
    height: 100%;
}

.cart-div{
    width: 80%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
    height: 51rem;
}

.cart-items-ul{
    width: 50%; 
    margin-top: 4rem;
}

.checkout{
    width: 40%;
    /* margin-bottom: 4vw; */
    margin-top: 4.3rem;
    background-color: white;
    height: 20rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.one-item-cart-li{
    background-color: white;
    height: 23%;
    margin: 1% 0px 2% 0px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    /* flex-wrap: wrap; */
}

.item-select-price-img{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 10vw;
    margin-bottom: 2.5rem;
}

.price-divs {
    margin-bottom: 2rem;
}

.item-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 10vw; 
}

.cart-item-img {
    width: 100%;
    height: 85%;
}

.item-select-price{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: -10%;
    width: 60%;
}

.cart-buttons{
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: auto; */
    /* margin-bottom: 2rem; */
    /* margin-top: 20%; */
}

.radio-div {
    height: 15%;
}

.radio{
    width:90%;
    height: 7%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-items: center; */
    margin: auto;
    /* padding-bottom: 30%; */
}

.save-for-later,
.delete-item{
    background-color: rgb(146, 23, 23);
    color: rgb(233, 227, 227);
    cursor: pointer;
    font-weight: bolder;
    border-radius: 3px; 
    width: 40%;
    height: 9%;
    /* margin-bottom: -90%; */
}

/* Checkout page */
.checkout-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* height: 50%; */
    padding-top: 5%;
    /* border-radius: 3px; */
}

.free-shipping,
.total,
.shipping-div,
.tax-div{
    width: 100%;
    display: flex;
    margin: 0px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 2% 0px;
}

.shipping-div{
    border-bottom: 1px solid rgb(223, 219, 219);
    
}

.tax-div{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.proceed-continue{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 2% 0%;
}
.proceed,
.continue{
    /* padding: 2% 0px; */
    margin: 2% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(146, 23, 23);
    color: rgb(233, 227, 227);
    cursor: pointer;
    font-weight: bolder;
    border-radius: 3px; 
    width: 80%;
    height: 2rem;
    text-decoration: none;
}

.continue2{
    height: 2.5rem;
    margin: 2% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(146, 23, 23);
    color: rgb(233, 227, 227);
    cursor: pointer;
    font-weight: bolder;
    border-radius: 3px; 
    width: 80%;
    /* height: 2rem; */
    text-decoration: none;
}










/* .cart-div{
    padding-top: 17%;
    padding-bottom: 17%;
    padding-left: 20%;
    height: 700px;
    width: 60%;
}

.cart-img{
    height: 100%;
    width: 100%;
    border: 1px solid gray;
    border-radius: 9px;
    box-shadow: -3px 5px 8px rgba(149, 147, 147, 0.692);
    
}

.cart-sen{
    font-family: 'Emilys Candy', cursive;
    font-weight: bold;
    font-size: 40px;
    color: rgb(28, 87, 97);
    padding-left: 29%;
} */
