.footer-div {
 
    background-color: rgb(58, 152, 168);
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-bottom: 0vw; */
}

.languages,
.my-name{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icons{
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
