.footer-div {
    background-color: rgb(58, 152, 168);
    width: 100%;
    height: 300px;
    margin-bottom: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.languages,
.my-name{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icons{
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cpyright{
    display: flex;
    align-items: center;
}