
.first-imgs-div {
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    /* height: 100%; */
}

.first-img{
    padding-top: 10%;
    width: 100%;
    /* height: 900px; */
    /* border-radius: 10px; */
    height: 600px;
}

.second-img {
    padding-top: 10%;
    width: 30%;
    height: 600px;
    
}