
.first-imgs-div {
    position:static;
    padding-top: 10%;
    display: flex;
    /* flex-direction: column; */
    /* width: 100%; */
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    /* height: 100%; */
}

.first-img{
    
    width: 60%;
    height: 600px;
}

.second-img {
    
    width: 40%;
    height: 600px;
    
}