.category-page-div3{
    padding-top: 11%;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-content: center;
    width: 100%;
}

.sub-cat-link3{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: lighter;
    cursor: pointer;
}

.side-menu-div3{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-content: center; 
    width: 30%;
}

.cat-li3{
    
    padding-bottom: 20%;
    border-bottom: 1px solid rgb(212, 209, 209);
}
.sub-cat-ul3{
/*     
     display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-content: start;  */
    padding-left: 20px;
}

.category-items-div3{
    width: 80%;
    margin-left: 50%;
}

.category-items-ul3{
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    /* align-content: center;   */
    margin-left: 100%; 
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;  
}
.one-item-div3{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center; 
    margin: 15px 0px;
}
.category-items-img3{
    width: 90%;

}

.category-items-nav3{
    text-decoration: none;
    color: black;
    
}

.category-items-name3,
.price3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.item-price3{
    text-decoration: line-through;
}
.item-price-sale3{
    color: red;
}
