.single-item {
    width: 100%;
    /* height: 80%; */
    height: 600px;
    padding: 15% 0%;
    display: flex;
    /* flex-direction: column; */
    /* width: 100%; */
    justify-content: space-around;
    align-items: center;
}

.item-img{
    height: 300px;
}

.save-bag-buttons{
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    /* font-family: 'Emilys Candy', cursive; */
    /* background-color: red; */
}

.save-button-div,
.bag-button-div{
    font-family: 'Emilys Candy', cursive;
    width: 45%;
    background-color: rgb(216, 40, 40); 
    border-radius: 3px;
    height: 40px;
    display: flex;
    /* flex-direction: column; */
    /* width: 100%; */
    justify-content: center;
    align-items: center;
}
.save-button,
.bag-button{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 18px;
    /* display: flex;
    /* flex-direction: column; */
    /* width: 100%; */
    /* justify-content: center; */
    /* align-items: center; */
}