.single-item {
    width: 85%;
    height: 600px;
    padding: 10% 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-info-div{
    width: 50%;
    padding-top: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.item-name{
    font-size: 25px;
}

.item-price-sale-sen{
    font-size: 20px;
}

.price{
    display: flex;
    width: 17%;
    font-size: 20px;
    justify-content: space-between;
    align-items: flex-start;
}

.item-price-sale{
    color:rgb(216, 40, 40);
}

.item-price{
    text-decoration-line: line-through;
    padding-bottom: 30%;
}

.word-color{
    border-top: 2px solid rgb(214, 208, 208);
    width: 100%;
    padding-top: 5%;
    
}
.sizes{
    width: 100%;
}
.item-sizes{
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    
}

.one-size-list{
    display: flex;
    margin: 0px 10px;
    justify-content: center; 
    align-items: center;
}

.one-size-div{
    font-size: 19px;
}

.item-img-div{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.save-bag-buttons{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-around;
    align-items: center;
}

.save-button-div,
.bag-button-div{
    font-family: 'Emilys Candy', cursive;
    width: 45%;
    background-color: rgb(216, 40, 40); 
    border-radius: 3px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.save-button,
.bag-button{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 18px;
}

.main-latest-div2 {
    height: 350px;  
}

.latest-items-div2 {
    margin-bottom: 10%;
}

.latest-items-img2{
    height: 350px;
    cursor: pointer;
}

.item-name2{
    display: flex;
    justify-content: center;
    align-items: center;
}