.saved-items-div {
    padding-top: 11%;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-content: center;
    width: 100%;
}

.saved-items-ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}

.saved-items-li{
    width: 27%;
    border: 1.5px solid rgb(165, 161, 161);
    border-radius: 5px;
    margin: 20px 0px;
    display: flex; 
    flex-direction: column; 
    justify-content: space-around;
    align-content: center;
    height: 50vw;    
}

.saved-items-nav{
    text-decoration: none;
    color: black;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

.saved-items-img,
.saved-items-name,
.item-price4,
.item-price-sale4-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.item-price4{
    text-decoration: line-through;
}

.item-price-sale4{
    color: red;
}

.buttons{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center; 
}

.unsave-item,
.add-cart {
    background-color: rgb(146, 23, 23);
    color: rgb(233, 227, 227);
    height: 40%;
    width: 80%;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 3px;
}

.add-cart-nav{
    cursor: pointer;
    font-weight: bolder;
    text-decoration: none;
    color: rgb(233, 227, 227);
}