.saved-items-div {
    padding-top: 11%;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-content: center;
    width: 100%;
}

.saved-items-ul{
    display: flex;
    /* flex-direction: column;  */
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    /* width: 30%; */

}

.saved-items-li{
    width: 30%;
    border: 1.5px solid rgb(165, 161, 161);
    border-radius: 5px;
    margin: 20px 0px;
    display: flex; 
    flex-direction: column; 
    justify-content: space-around;
    /* flex-wrap: wrap; */
    align-content: center;
    height: 700px;
    box-shadow: -3px 5px 8px rgba(149, 147, 147, 0.692);
    
}

.saved-items-nav{
    text-decoration: none;
    color: black;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    /* flex-wrap: wrap; */
    align-content: center;
    cursor: pointer;
}

.saved-items-img,
.saved-items-name,
.item-price4,
.item-price-sale4-div{
    width: 100%;
    display: flex;
    /* flex-direction: column;  */
    justify-content: center;
    /* flex-wrap: wrap; */
    align-content: center;
}

.item-price4{
    text-decoration: line-through;
}
.item-price-sale4{
    color: red;
}

.unsave-item,
.add-cart{
    background-color: rgb(216, 40, 40); 
    border-radius: 3px;
    height: 40px;
    width: 90%;
    display: flex;
    /* flex-direction: column; */
    /* width: 100%; */
    justify-content: center; 
    align-items: center; 
    margin: 3px 3px;
    cursor: pointer;
    font-weight: bolder;

}