.navBar {
    position: fixed;
    opacity: .9;
    width: 100%;
    
    /* margin-top: 0px; */
}

.sen1-div {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-top: -8px;

}

.sen1 {
    color: white;
}