
.navBar {
    position: fixed;
    opacity: .9;
    width: 100%;
    z-index: 1;
}

.sen1-div {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65px;
    margin-top: -8px;
}

.sen1 {
    color: white;
}

.kiddos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background: white;
    outline: none;   
}

.k,
.dd,
.s{
    font-family: 'Emilys Candy', cursive;
    font-weight: bolder;
    font-size: 32px;
    color:rgb(3, 1, 3)
}

.i,
.o {
    font-family: 'Emilys Candy', cursive;
    color: rgb(58, 152, 168);
    font-weight: bolder;
    font-size: 35px;
}

.main-cat-ul{
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

li {
    list-style: none;
}

.mCat_button{
    font-weight: bold;
    font-size: 16px;
}

.drop-down-link,
.kiddos-link{
    text-decoration: none;
}

.kiddos-link{
    text-decoration: none;
    cursor: pointer;
}

.search-button,
button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.my-cart{ 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 0px .4vw 1.3vw .4vw;
}

.third-nav-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 13%;
    background-color: white;
}

.search-saved-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search-button-input{
    margin-bottom: 4px;
    cursor: pointer;
    height: 23px;
    border-radius: 3px;
}
.search-button{
    margin-left: -80%;
    color: rgb(87, 84, 84);
}

.my-fav {
    color: rgb(22, 22, 22);
    text-decoration: none;
}

.drop-down-div{
    width: 12%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background:rgb(255, 255, 255);
    box-shadow: -3px 5px 8px rgba(149, 147, 147, 0.692);
}

.drop-down-link {
    color: black;
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> To crop the image to be square */
/* 
.imageCropper {
    width: 70px;
    height: 70px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 10px;
}
.avatarImg {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
} */