
/* @import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap'); */


.navBar {
    position: fixed;
    opacity: .9;
    width: 100%;
    /* text-decoration: none; */
}

.navBar1 {
    /* position: fixed;
    opacity: .9;
    width: 100%; */
    
    /* margin-top: 0px; */
}

.sen1-div {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65px;
    margin-top: -8px;
}

.sen1 {
    color: white;
    /* font-family: 'Frijole', cursive; */
}

.kiddos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    /* align-self: flex-start; */
    background: white;
}

.k,
.dd,
.s{
    font-family: 'Emilys Candy', cursive;
    font-weight: bolder;
    font-size: 23px;
    /* align-self: flex-end; */

}

.i,
.o {
    font-family: 'Emilys Candy', cursive;
    color: rgb(101, 178, 192);
    font-weight: bolder;
    font-size: 25px;
}

.categories-ul{
    background: red;
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

/* .h3{
    background: red;
} */

.main-cat-li{
    /* text-decoration: none; */
}
.main-cat-button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.third-nav-div {
    background: red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}