
/* @import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap'); */


.navBar {
    position: fixed;
    opacity: .9;
    width: 100%;
    z-index: 1;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.navBar1 {
    /* position: fixed;
    opacity: .9;
    width: 100%; */
    
    /* margin-top: 0px; */
}

.sen1-div {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65px;
    margin-top: -8px;
}

.sen1 {
    color: white;
    /* font-family: 'Frijole', cursive; */
}

.kiddos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    /* align-self: flex-start; */
    background: white;
    outline: none;
   
}

.k,
.dd,
.s{
    font-family: 'Emilys Candy', cursive;
    font-weight: bolder;
    font-size: 32px;
    color:rgb(3, 1, 3)
    /* color:rgb(119, 49, 113) */
    /* align-self: flex-end; */

}

.i,
.o {
    font-family: 'Emilys Candy', cursive;
    color: rgb(58, 152, 168);
    font-weight: bolder;
    font-size: 35px;
}

.main-cat-ul{
    /* background: red; */
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

li {
    list-style: none;
}

.mCat_button{
    font-weight: bold;
    font-size: 16px;
}

.drop-down-link,
.kiddos-link{
    text-decoration: none;
}
/* .h3{
    background: red;
} */

.kiddos-link{
    text-decoration: none;
    cursor: pointer;
}

/* .main-cat-button, */
.search-button,
button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.third-nav-div {
    /* background: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 13%;
    background-color: white;
}

.search-saved-div {
    /* width: 30%; */
    /* padding-right: 13%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* .search-bar{
    align-self: flex-end;
}
.search-button {
    height: 3px;
} */
.search-button-input{
    margin-bottom: 4px;
    cursor: pointer;
    height: 23px;
    border-radius: 3px;
    /* box-shadow: -3px 5px 8px rgba(149, 147, 147, 0.692); */
}
.search-button{
    margin-left: -80%;
    color: rgb(87, 84, 84);
}

.search-button-div{
    /* width: 2px;
    height: 2px; */
    /* size: 2px; */
}
.my-fav-div{
    /* padding-left: 24%; */
}
.my-fav {
    color: rgb(22, 22, 22);
    text-decoration: none;
}

/* .sen-plz-login{
    display: flex;
    justify-content: center;
    font-family: 'Emilys Candy', cursive;
    font-size: 30px;
} */

.drop-down-div{
    width: 12%;
    /* margin-bottom: -100px; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    background:rgb(255, 255, 255);
    /* opacity: 1; */
    /* border-radius: 6px; */
    box-shadow: -3px 5px 8px rgba(149, 147, 147, 0.692);
}

.drop-down-link {
    color: black;
}