
.navBar {
    position: fixed;
    opacity: .9;
    width: 100%;
    z-index: 1;
    background: white;
}

.sen1-div {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65px;
    margin-top: -8px;
}

.sen1 {
    color: white;
}

.kiddos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    outline: none;   
}

.k,
.dd,
.s{
    font-family: 'Emilys Candy', cursive;
    font-weight: bolder;
    font-size: 32px;
    color:rgb(3, 1, 3)
}

.i,
.o {
    font-family: 'Emilys Candy', cursive;
    color: rgb(58, 152, 168);
    font-weight: bolder;
    font-size: 35px;
}
.main-cat-div{

    width: 63%;
    display: flex;
    margin:auto;
}
.main-cat-ul{
    width: 63%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    /* margin:auto; */
}

li {
    list-style: none;
}

.mCat_button{
    font-weight: bold;
    font-size: 16px;
}

.drop-down-link,
.kiddos-link{
    text-decoration: none;
}

.kiddos-link{
    text-decoration: none;
    cursor: pointer;
}

.search-button,
button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.my-cart{ 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 17%;
    text-decoration: none;
}

.my-cart:hover:after {
    content: "My Cart";
    z-index: 1;
    position: fixed;
    margin-top: 5%;   
}

.my-fav-div:hover:after {
    content: "My Favorits items";
    z-index: 1;
    position: fixed;
    margin: 2.5% 0% 0px -5%;   
}

.log-out-div:hover:after {
    content: "Log Out";
    z-index: 1;
    position: fixed;
    margin-top: 2%;   
    margin-left: -1%;
}

.sign-in-div:hover:after {
    content: "Sign In";
    z-index: 1;
    position: fixed;
    margin-top: 2.5%; 
    margin-left: -2%;  
}

.third-nav-div {
    display: flex;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* padding-right: 13%; */
    background-color: white;
    height: 15%;
}

.search-saved-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 35%;
}

.search-button-input{
    margin-bottom: 4px;
    cursor: pointer;
    height: 23px;
    border-radius: 3px;
}
.search-button{
    margin-left: -80%;
    color: rgb(87, 84, 84);
}

.my-fav {
    color: rgb(22, 22, 22);
    text-decoration: none;
}

.drop-down-div{
    width: 12%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background:rgb(255, 255, 255);
    box-shadow: -3px 5px 8px rgba(149, 147, 147, 0.692);
    z-index: 1;
    position: fixed;
}

.drop-down-link {
    color: black;
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> To crop the image to be square */
/* 
.imageCropper {
    width: 70px;
    height: 70px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 10px;
}
.avatarImg {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
} */