
.sign-page-div{
    height: 100%;
}
.log-sign-forms-div {
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
    height: 100%;
    align-items: center;
 }  

/* .log-sign-forms-div, */
.log-div {
    border-right: 2px solid rgb(209, 207, 207);
}
.log-div,
.signup-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 0px; */
    /* margin-top: 30%;  */
    height: 100%;
    /* background:rgb(246, 245, 245); */
    /* border-radius: 5px; */
    width: 50%;
 } 
 .login-form-div,
 .signup-form-div{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .login-forms,
 .signup-forms {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
 }

 .login-form,
 .signup-form {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: flex-start; */
    align-items: center;
    /* margin-top: 10px; */
    
 }

.password,
.email,
.user-name,
.email2,
.password2,
.repeat-pass {
    /* /* margin-top: 10px; */
    width: 50%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    
}

.log-in,
.demo-log-in,
.login-button,
.sign-up-button {
    width: 50%;
    height: 30px;
    display: flex;
    flex-direction: column;
    background-color: rgb(58, 152, 168);
    justify-content: center;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    border-radius: 6px;
    /* box-shadow: -3px 5px 8px rgba(149, 147, 147, 0.692); */
}
.demo-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    /* padding-bottom: 30%; */
}
