
.sign-page-div{
    height: 100%;
}

.sen-plz-login{
    display: flex;
    justify-content: center;
    font-family: 'Emilys Candy', cursive;
    font-size: 30px;
}

.log-sign-forms-div {
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
 }  

.log-div,
.signup-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 50%;
 } 

 .login-form-div,
 .signup-form-div{
    height: 65%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .login-form-div {

     border-right: 2px solid rgb(209, 207, 207);
 }

 .login-forms,
 .signup-forms {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 }

 .login-form,
 .signup-form {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
 }

.password,
.email,
.user-name,
.email2,
.password2,
.repeat-pass {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.log-in,
.login-button,
.demo-log-in,
.sign-up-button {
    width: 50%;
    height: 30px;
    display: flex;
    flex-direction: column;
    background-color: rgb(58, 152, 168);
    justify-content: center;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    border-radius: 6px;
}

.demo-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
 } 
