/* .login-form{ 
    margin-top: 500px;
    background-color: red;
}

.signup,
.button,
.ul{
    margin-top: 300px;
    background-color: rgb(0, 255, 119);
} */

.log-sig-forms-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}